/* Navbar Section */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Kumbh Sans', sans-serif;
	scroll-behavior: smooth;
}

html {
	scroll-behavior: smooth;
}

.navbar {
	background: #000000;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 999;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar__container {
	display: flex;
	justify-content: space-between;
	height: 80px;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 50px
}

#navbar__logo {
	background-color: #493FFF;
	background-image: linear-gradient(to top, #4400ff 0%, #3a3838 100%);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 2rem;
}

.navbar__menu {
	display: flex;
	align-items: center;
	list-style: none;
	text-align: center;
}

.navbar__item {
	height: 80px;
}

.navbar__links {
	color:#5900ff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	padding: 0 2rem;
	height: 100%;
}

.navbar__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	width: 100%;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 10px 20px;
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	border-radius: 4px;
	background: #5900ff;
	color: #fff;
}

.button:hover {
	background: #f56262;
	transition: all 0.4s ease;
}

.navbar__links:hover {
	color: #f56262;
	transition: all 0.4s ease;
}

@media screen and (max-width: 960px) {
	.navbar__container {
		display: flex;
		justify-content: space-between;
		height:80px;
		z-index: 1;
		width: 100%;
		max-width: 1300px;
		padding: 0;
	}

	.navbar__menu {
		display: grid;
		grid-template-columns: auto;
		margin: 0;
		width: 100%;
		position: absolute;
		top: -1000px;
		opacity: 0;
		transition: all 0.5s ease;
		height: 50vh;
		z-index: -1;
		background: #131313;
	}

	.navbar__menu.active {
		background: #131313;
		top: 100%;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 99;
		height: 50vh;
		font-size: 1.6rem;
	}

	#navbar__logo {
		padding-left: 25px;
	}

	.navbar__toggle .bar {
		width: 25px;
		height: 3px;
		margin: 5px auto;
		transition: all 0.3s ease-in-out;
		background: #fff;
	}

	.navbar__item {
		width: 100%;
	}

	.navbar__links {
		text-align: center;
		padding: 2rem;
		width: 100%;
		display: table;
	}

	#mobile-menu {
		position: absolute;
		top: 20%;
		right: 5%;
		transform: translate(5%, 20%);
	}

	.navbar__btn {
		padding-bottom: 2rem;
	}

	.button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		height: 80px;
		margin: 0;
	}

	.navbar__toggle .bar {
		display: block;
		cursor: pointer;
	}

	#mobile-menu.is-active .bar:nth-child(2) {
		opacity: 0;
	}

	#mobile-menu.is-active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	#mobile-menu.is-active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}
img.mylogo{
	width: 85px;
	height:80px;
}

/* End Navbar Section */

/* Main Section */
.main {
	background-color: #131313;
}

.main__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-self: center;
	margin: 0 auto;
	height: 90vh;
	background-color: #131313;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	padding: 0 50px;
}

.main__container {
	font-size:1.5rem;
}
.main__content h1 {
	color: #5900ff;
	transition: all 0.7s ease;
}
.main__content h1:hover{
display: flex;
justify-content: left;
align-items: center;
text-decoration: none;
padding: 10px 20px;
height: 100%;
width: 100%;
border: none;
outline: none;
border-radius: 4px;
background: #f56262;
transition: all 0.7s ease;
color: #ffffff;
}

.main__content h3{
	color:#fff;
	
}

/* End Main Section */

/* Details Section */
.my__details {
	display: flex;
	flex-wrap: wrap;
	margin: 5px;
	width: 100%;
	padding: 0 50px;
	justify-content: space-evenly;
	
}

.my__details a{
	color: #5900ff;
}
/* End Details Section */

/* Experience Section */

#experiences {
	display: grid;
	align-items: center;
	justify-self: center;
	margin: 0 auto;
	height: 90vh;
	background-color: #131313;
	
}

#experiences .experiences{
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
	
}

#experiences .section-title{
	font-size: 4rem;
	font-weight: 300;
	color: #5900ff;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}

#experiences .section-title span{
	color: #f56262;
}

#experiences .experience-top p {
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
	color: #fff;
}

#experiences .experience-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

#experiences .experience-item {
	flex-basis: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./images/purple.jpg);
	background-size: contain;
	margin: 10px 5%;
	color: rgb(255, 255, 255);
	text-align: left;
	overflow: hidden;
}

#experiences .experience-item h2 {
	font-size: 2rem;
	color: #f56262;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#experiences .experience-item1 {
	flex-basis: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./images/purple.jpg);
	background-size: contain;
	margin: 10px 5%;
	color: rgb(255, 255, 255);
	text-align: left;
	overflow: hidden;
}

#experiences .experience-item1 h2 {
	font-size: 2rem;
	color: #f56262;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#experiences .experience-item h4 {
	color:#f56262;
}

/* End Experience Section */

/* Projects Section */

#projects {
	background-image:linear-gradient(60deg, #131313 0%, #131313 100%);
}
#projects .section-title {
	color: #f56262;
	font-weight: 300;
	font-size: 4rem;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}

#projects .section-title span {
	color: #5900ff;
}

#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

#projects .projects-header h1{
	margin-bottom: 50px;
}

#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
	
}

#projects .project-img {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 90%;
	margin: -10px auto;
	overflow: hidden;
	border-radius: 20px;
	margin-bottom: 20px;
}

#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
	background-image: url(./images/purple.jpg);
	margin: 10px 5%;
	color: rgb(255, 255, 255);
	text-align: left;
	overflow: hidden;
}
#projects .project-info1 {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
	background-image: url(./images/purple.jpg);
	margin: 10px 5%;
	color: rgb(255, 255, 255);
	text-align: left;
	border: 15px solid #f56262;
	overflow: hidden;
}

#projects .project-info h1 {
	font-size: 2.4rem;
	font-weight: 500;
	color: #f56262;
	text-transform: uppercase;
}

#projects .project-info h2 {
	font-size: 1.3rem;
	font-weight: 200;
	color: #f56262;
}

#projects .project-info p {
	font-size: 0.9rem;
	color: rgb(211, 211, 211);
}

#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	
}

#projects .project-img img {
	transition: .4s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);

}
/* End Projects Section */

/* About Me Section */

#about {
	display: grid;
	align-items: center;
	justify-self: center;
	margin: 0 auto;
	height: 90vh;
	background-color: #131313;
	
}

#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
	color: #fff;
}

#about .col-left {
	width: 420px;
	height: 520px;
}

#about .col-right {
	width: 100%
}


#about .section-title {
	color: #5900ff;
	font-weight: 300;
	font-size: 4rem;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}

#about .section-title span {
	color:#f56262;
}

#about .col-right h2 {
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}

#about .col-right p {
	margin-bottom: 20px;
	width: 100%;
}

#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid #5900ff;
}
#about .col-left .about-img img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 90%;
	width: 98%;
	border: 7px solid #5900ff;
	z-index: -1;
}
/* End About Me Section */

/* Footer Section */

#footer {
	background-image:linear-gradient(60deg, #131313 0%, #131313 100%);
}

#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}

#footer .brand span {
	color: #5900ff;
}

#footer .brand {
	color: #fff;
}

#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}

/* End Footer Section */


